html {
  height: 100%;
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  position: relative;
  margin: 0px;
  background-color: white;
  height: 100%;
  background-color: #fafafa;
}

paper-card {
  display: block;
  background-color: white;
  height: 100%;
  position: absolute;
}

#side-panel {
  position: fixed;
  width: 260px;
  left: 0px;
  top: 0px;
}

#main-panel {
  position: absolute;
  width: 60%;
  left: 300px;
  top: 80px;
}

#main-panel-super-header {
  position: absolute;
  left: 300px;
  top: 0px;
  font-size: 24px;
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #424242;
  padding-top: 30px;
}

#um-med-banner {
  background-color: #002f5e;
}

.inner {
  height: 100%;
  width: 100%;
}

.side-panel-button {
  display: block;
  padding: 0px;
  width: 100%;
}

.side-panel-text {
  font-weight: normal;
  text-transform: capitalize;
}

paper-button {
  text-transform: capitalize;
  margin-left: 0px;
}

#mvs-back-btn-container {
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #eceff1;
  border-top: 1px solid #cfc8dc;
  border-bottom: 1px solid #cfc8dc;
}

#mvs-logo {
  position: relative;
  color: #002f5e;
  border: 1px solid #e5e5e5;
  display: inline-block;
  height: 24px;
  width: 24px;
  padding: 5px;
  margin-right: 6px;
  background-color: #fff;
  top: 1px;
}

#mvs-title {
  color: #424242;
  position: relative;
  top: 3px;
  font-weight: normal; 
}

#mvs-decal {
  position: relative;
  left: 0px;
  font-size: 12pt;
}

.side-panel-icon {
  color: #757575;
}

#experiment-panel-label-container {
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 16px;
  /*border-top: 1px solid #cfc8dc;*/
  /*border-bottom: 1px solid #cfc8dc;*/
}

#experiment-panel-label {
  color: #424242;
  font-size: 14pt;
  position: relative;
  top: 2px;
}

.side-panel-button-component-wrapper {
  text-align: left;
}

#mvs-panel-btns .side-panel-button {
  color: #757575; 
  font-size: 10pt;
  padding-left: 8px;
}

#mvs-panel-btns .icon-component {
  position: relative;
  bottom: 0px;
  margin-right: 6px;
}

#mvs-panel-btns .side-panel-button[toggles][active] .icon-component {
  color: #2962ff; 
}

#mvs-panel-btns .side-panel-button[toggles][active] {
  background-color: #eeeeee;
}
