.my-experiment-front-page-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  color: #424242;
}

.my-experiment-front-page-wrapper .experiment-info-wrapper {
  margin-right: 40px;
}

.my-experiment-front-page-wrapper > div {
  display: inline-block;
  vertical-align: top;
}

.my-experiment-front-page-wrapper > div > div {
  margin-bottom: 40px;
}
