* {
  margin: 0px;
  padding: 0px;
}

.my-experiments-page-wrapper[hidden-my-experiments-page] {
  display: none;
}

.pending-experiment-wrapper {
  border: 1px solid rgb(228, 228, 228);
  background-color: #FFFFFF;
  margin-bottom: 30px;
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #A0A0A0;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.pending-experiment-wrapper .header-wrapper {
  padding: 20px;
  cursor: pointer;
}

.pending-experiment-wrapper .title-label {
  display: inline-block;
  font-size: 24px;
  padding: 4px;
  outline: 0px solid transparent;
}

.pending-experiment-wrapper .title-label[changed-title], .pending-experiment-wrapper .description-page[changed-description] {
  color: #424242;
}

.pending-experiment-wrapper .title-label:focus {
  cursor: text;
}

.pending-experiment-wrapper .header-wrapper {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.pending-experiment-wrapper .title-underline {
  margin-top: 6px;
  border-top: 1px solid rgb(228, 228, 228);
  margin-bottom: 1px;
}

.pending-experiment-wrapper .header-wrapper:hover .title-underline {
  border-color: rgb(38, 108, 177);
}

.pending-experiment-wrapper .header-wrapper[editing-title] .title-underline {
  border-color: rgb(38, 108, 177);
  border-width: 2px;
  margin-bottom: 0px;
}

.pending-experiment-wrapper .footer-wrapper {
  font-size: 0px;
}

.pending-experiment-wrapper .footer-wrapper div {
  display: inline-block;
  font-size: 0px;
  width: 25%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.pending-experiment-wrapper .footer-wrapper div[selected-btn] iron-icon {
  color: rgb(38, 108, 177);
}

.pending-experiment-wrapper .footer-wrapper div:hover {
  background-color: #ECEFF1;
}

.pending-experiment-wrapper .footer-wrapper iron-icon {
  position: relative;
  left: calc(50% - 12px);
  width: 24px;
  height: 24px;
} 

.pending-experiment-wrapper .order-data-wrapper {
  display: none;
}

.pending-experiment-wrapper .main-stage-wrapper > div:not([selected-page]) {
  display: none;
}

.pending-experiment-wrapper .main-stage-wrapper {
  height: 320px;
}

.pending-experiment-wrapper .main-stage-wrapper .description-page {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(228, 228, 228);
  margin-top: 1px;
  margin-bottom: 1px;

  height: 270px;
  overflow-y: auto;
  cursor: pointer;
  padding: 10px;
  font: 16px;
  outline: 0px solid transparent;
}

.pending-experiment-wrapper .main-stage-wrapper .description-page:hover {
  border-color: rgb(38, 108, 177); 
}

.pending-experiment-wrapper .main-stage-wrapper .description-page[editing-description] {
  border-color: rgb(38, 108, 177); 
  border-width: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 19px;
  margin-right: 19px;
  padding-top: 9px;
  cursor: text;
}

/* Time styles */
.pending-experiment-wrapper .main-stage-wrapper .scopes-icon {
  height: 38px;
  width: 38px;
  background-color: blue;
}
.pending-experiment-wrapper .main-stage-wrapper .time-page {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.pending-experiment-wrapper .main-stage-wrapper .time-page > div {
  display: inline-block;
}


.pending-experiment-wrapper .main-stage-wrapper .time-secondary-container {
  padding-left: 40px;
}

.pending-experiment-wrapper .main-stage-wrapper .time-secondary-container > div {
  margin-bottom: 50px;
}

.pending-experiment-wrapper .main-stage-wrapper .time-payments-container {
  padding-left: 40px;
}

.pending-experiment-wrapper .main-stage-wrapper .time-payments-container > div {
  margin-bottom: 50px;
  position: relative;
  top: -74px;
}

.pending-experiment-wrapper .main-stage-wrapper .time-page .field-title {
  color: #424242;
}

.pending-experiment-wrapper .main-stage-wrapper .monitor-page {
  text-align: center;
}

.pending-experiment-wrapper .main-stage-wrapper .recording-page {
  text-align: center;
}
