<template id='calendar-template'>
  <div class='calendar-wrapper'>
    <div class='selected-date-display-container'>
      <div class='selected-year-container'>
        <span class='selected-year-label'></span>
      </div>
      <div class='selected-date-container'>
        <span class='selected-dow-label'></span>,
        <span class='selected-month-label'></span>
        <span class='selected-dom-label'></span>
      </div>
    </div>

    <!-- Main calendar content (select date here)  -->
    <div class='calendar-main-container'>
      
      <!-- Month banner -->
      <div class='month-banner-container'>
        <div class='month-nav-container decrement-month-container'>
          <iron-icon icon='chevron-left'></iron-icon>  
        </div>
        <span class='month-label'></span>
        <div class='month-nav-container increment-month-container'>
          <iron-icon icon='chevron-right'></iron-icon>  
        </div>
      </div>

      <!-- Day of the week labels -->
      <div class='dow-container'>
        <div class='dow date-cell sun-date-cell'>S</div>
        <div class='dow date-cell m-date-cell'>M</div>
        <div class='dow date-cell tu-date-cell'>T</div>
        <div class='dow date-cell wed-date-cell'>W</div>
        <div class='dow date-cell thu-date-cell'>T</div>
        <div class='dow date-cell fri-date-cell'>F</div>
        <div class='dow date-cell sat-date-cell'>S</div>
      </div>

      <!-- Selectable dates -->
      <div class='selectable-dates-container'></div>
    </div>
  </div>
</template>
