.calendar-wrapper[hidden] {
  display: none;
}

.calendar-wrapper {
  background-color: #FFFFFF; 
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 100;
  height: 34px;
}

.calendar-wrapper .selected-date-display-container:not([closed]) {
  background-color: rgb(38, 108, 177);
  color: #FFFFFF;
  height: 34px;
  padding-top: 2px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  width: 226px;
}

.calendar-wrapper .selected-date-display-container:not([closed]) .icon-wrapper {
  display: none;
}

.calendar-wrapper .selected-date-display-container[closed]{
  position: relative;
  cursor: pointer;
}

.calendar-wrapper .selected-date-display-container[closed]{
  display: inline-block;
}

.calendar-wrapper .selected-date-display-container[closed] .selected-date-container {
  padding-left: 8px;
}

/* Transition to a bigger shadow on hover */
.calendar-wrapper .selected-date-display-container[closed]:hover {
  box-shadow: 0px 0px 2px 2px rgba(38, 108, 177, 0.5);
}

.calendar-wrapper .selected-date-display-container[closed] div {
  display: inline-block;
}

.calendar-wrapper .icon-wrapper {
  margin-left: 6px;
  background-color: rgb(38, 108, 177);
  padding: 5px;
  border-radius: 25%;
}

.calendar-wrapper .icon-wrapper iron-icon {
  color: #FFFFFF;
}

.calendar-wrapper .selected-date-container {
  position: relative;
  top: 4px;
}

.calendar-wrapper .selected-date-display-container[closed] .selected-date-container {
  top: 2px;
}

.calendar-wrapper .selected-dow-label {
  margin-right: 2px;
}

.calendar-wrapper .selected-dom-label {
  margin-right: 2px;
}

.calendar-wrapper .month-banner-container {
  color: #000000;
  font-size: 14px;
  text-align: center;
  padding-top: 14px;
}

.calendar-wrapper .dow-container {
  /* color: rgb(38, 108, 177); */
  font-weight: bold;
  margin-top: 10px;
}

.calendar-wrapper .date-cell {
  display: inline-block;
  width: 12%;
  font-size: 12px;
  text-align: center;
}

.calendar-wrapper .sun-date-cell {
  margin-left: 6px;
}

.calendar-wrapper .calendar-main-container {
  position: absolute;
  width: 224px;
  border-left: 1px solid rgb(228, 228, 228);
  border-right: 1px solid rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
  background-color: #FFFFFF;
}

.calendar-wrapper .calendar-main-container-wrapper {
  position: relative;
}

.calendar-wrapper .calendar-main-container .selectable-dates-container {
  padding-left: 5px;
  margin-top: 5px;
}

.calendar-wrapper .decrement-month-container {
  float: left; 
  margin-left: 10px;
}

.calendar-wrapper .increment-month-container {
  float: right; 
  margin-right: 6px;
}

.calendar-wrapper .month-nav-container iron-icon {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;
  cursor: pointer;
}

.calendar-wrapper .month-nav-container iron-icon:hover {
  background-color: #EEEEEE;
  border-radius: 50%;
}

.calendar-wrapper .selectable-dates-container .date {
  display: inline-block;
  width: 14.2%;
  color: black;
}

.calendar-wrapper .selectable-dates-container .selectable-date {
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  /* position: relative; */
  height: 30px;
}

.calendar-wrapper .selectable-dates-container .unselectable-date {
  text-align: center;
  font-size: 14px;
  position: relative;
  height: 30px;
  top: 6px;
  color: #777777;
};

.calendar-wrapper .selectable-dates-container .unselectable-date .date-label {
  color: #777777;
  position: relative;
  top: 6px;
}

.calendar-wrapper .selectable-dates-container .selectable-date .date-label {
  /* position: relative; */
  /* top: 12px; */
  position: relative;
  top: 6px;
}

.calendar-wrapper .selectable-dates-container div.selectable-date:hover:not([selected]) {
  background-color: #EEEEEE;
  cursor: pointer;
  border-radius: 50%;
}

.calendar-wrapper .selectable-dates-container div.date[selected] {
  background-color: #EEEEEE;
}
