.calendar-wrapper[hidden] {
  display: none;
}

.calendar-wrapper {
  background-color: #FFFFFF; 
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  z-index: 100;
  height: 32px;
}

.calendar-wrapper .selected-date-display-container:not([closed-calendar]) {
  background-color: rgb(38, 108, 177);
  color: #FFFFFF;
  height: 32px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  width: 226px;
}

.calendar-wrapper .selected-date-display-container:not([closed-calendar]) .icon-wrapper {
  display: none;
}

.calendar-wrapper .selected-date-display-container {
  cursor: pointer;
}

.calendar-wrapper .selected-date-display-container[closed-calendar] {
  position: relative;
  overflow: auto;
  min-width: 120px;
  display: inline-block;
}

.calendar-wrapper .selected-date-display-container[closed-calendar] .selected-date-container {
  padding-left: 8px;
  position: relative;
  top: 6px;
  margin-right: 10px;
}

/* Transition to a bigger shadow on hover */
.calendar-wrapper .selected-date-display-container[closed-calendar]:hover {
  box-shadow: 0px 0px 2px 2px rgba(38, 108, 177, 0.5);
}

.calendar-wrapper .selected-date-display-container[closed-calendar] > div {
  display: inline-block;
}

.calendar-wrapper .icon-wrapper {
  background-color: rgb(38, 108, 177);
  padding: 3px;
  border-radius: 25%;
  float: right;
}

.calendar-wrapper .icon-wrapper iron-icon {
  color: #FFFFFF;
  height: 26px;
  width: 26px;
}

.calendar-wrapper .selected-date-container {
  position: relative;
  top: 4px;
}

.calendar-wrapper .selected-dow-label {
  margin-right: 2px;
}

.calendar-wrapper .selected-dom-label {
  margin-right: 2px;
}

.calendar-wrapper .month-banner-container {
  color: #000000;
  font-size: 14px;
  text-align: center;
  padding-top: 14px;
}

.calendar-wrapper .dow-container {
  /* color: rgb(38, 108, 177); */
  font-weight: bold;
  margin-top: 10px;
}

.calendar-wrapper .date-cell {
  display: inline-block;
  width: 12%;
  font-size: 12px;
  text-align: center;
}

.calendar-wrapper .sun-date-cell {
  margin-left: 6px;
}

.calendar-wrapper .calendar-main-container {
  position: absolute;
  width: 224px;
  border-left: 1px solid rgb(228, 228, 228);
  border-right: 1px solid rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
  background-color: #FFFFFF;
}

.calendar-wrapper .calendar-main-container-wrapper {
  position: relative;
}

.calendar-wrapper .calendar-main-container .weeks-container {
  padding-left: 5px;
  margin-top: 5px;
}

.calendar-wrapper .month-label {
  position: relative;
  top: 3px;
}

.calendar-wrapper .month-nav-container > iron-icon {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;
}

.calendar-wrapper .month-nav-container[disabled-month-nav] > iron-icon {
  color: #777;
}

.calendar-wrapper .month-nav-container:not([disabled-month-nav]) {
  cursor: pointer;
}

.calendar-wrapper .decrement-month-container {
  float: left; 
  margin-left: 10px;
}

.calendar-wrapper .increment-month-container {
  float: right; 
  margin-right: 6px;
}

.calendar-wrapper .weeks-container {
  font-size: 0px;
}

.calendar-wrapper .weeks-container .date-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 14.285%;
  color: black;
  position: relative;
  font-size: 14px;
  text-align: center;
  height: 30px;
}

.calendar-wrapper .weeks-container .date-wrapper[unselectable-date] {
  color: #777;
}

.calendar-wrapper .weeks-container .date-wrapper:not([unselectable-date]) {
  color: #000;
}

.calendar-wrapper .weeks-container .date-wrapper:not([unselectable-date]):hover {
  cursor: pointer;
}
