<template id='static-calendar-template'>
  <div class='static-calendar-wrapper'>
    <!-- Collapsed banner -->
    <div class='selected-date-container'>
      <span class='selected-date-label'></span>
    </div>

    <!-- Main calendar content (select date here)  -->
    <div class='calendar-main-container'>

      <!-- Day of the week labels -->
      <div class='dow-container'><div class='dow date-cell sun-date-cell'>S</div><div class='dow date-cell m-date-cell'>M</div><div class='dow date-cell tu-date-cell'>T</div><div class='dow date-cell wed-date-cell'>W</div><div class='dow date-cell thu-date-cell'>T</div><div class='dow date-cell fri-date-cell'>F</div><div class='dow date-cell sat-date-cell'>S</div></div>

      <!-- Days of the month container -->
      <div class='dom-container'></div>
    </div>
  </div>
</template>
