<template id='short-code-picker-template'>
  <div class='short-code-picker-wrapper'>
    <div class='input-field-wrapper'>
      <div class='input-field'><span class='input-field-label'></span></div>
      <div class='icon-wrapper'>
        <iron-icon icon='payment'></iron-icon>
      </div>
    </div>
    <div class='short-code-dropdown-wrapper'>
      <div class='short-code-dropdown'></div>
    </div>
  </div>
</template>

<template id='short-code-picker-option-template'>
  <div class='short-code-picker-option' local-idx='' tooltip=''>
    <span class='short-code-label'></span>
  </div>
</template>
