<template id='side-panel-template'>
  <div class='side-panel-wrapper'>
    <!-- User name -->
    <div class='side-panel-user-container'>
      <img class='side-panel-user-profile-pic' src='../../../../assets/default_profile_images/blue-ring.png' />
      <span class='side-panel-user-label'>Kalyna Petrusha</span>
    </div>

    <!-- Mvs home button -->
    <div class='home-nav-container'>
      <div class='home-nav-label'>
        <span><iron-icon class='home-nav-label-back-icon' icon='chevron-left'></iron-icon></span>  
        <div class='home-nav-label-home-icon-container'><iron-icon class='home-nav-label-home-icon' icon='home'></iron-icon></div>
        <span class='home-nav-label-name'>MVS Home</span>
      </div>
    </div>

    <!-- Mvs dashboard title -->
    <div class='dash-title-container'>
      <div class='dash-title-label'>
        <span><iron-icon icon='dashboard' class='dash-title-label-icon'></iron-icon></span>
        <span class='dash-title-label-name'>MVS Dashboard</span>
        <span class='dash-title-label-version'>1.0.0</span>
      </div>
    </div>

    <!-- Page navigation buttons -->
    <div class='nav-btns-container'></div>
  </div>
</template>
