<template id='side-panel-template'>
  <div class='side-panel-wrapper'>
    <!-- User name -->
    <div class='side-panel-user-container'>
      <img class='side-panel-user-profile-pic' src='../../../../assets/default_profile_images/blue-ring.png' />
      <span class='side-panel-user-label'>Kalyna Petrusha</span>
    </div>

    <!-- Mvs home button -->
    <div class='home-nav-container'>
      <iron-icon class='back-icon' icon='chevron-left'></iron-icon>
      <div class='home-icon-container'><iron-icon class='home-icon' icon='home'></iron-icon></div>
      <div class='home-label'>MVS Home</div>
    </div>

    <!-- Mvs dashboard title -->
    <div class='dash-title-container'>
      <iron-icon icon='dashboard' class='dash-icon'></iron-icon>
      <span class='title-label'>MVS Dashboard</span>
      <span class='version-label'>1.0.0</span>
    </div>

    <!-- Page navigation buttons -->
    <div class='nav-btns-container'></div>
  </div>
</template>
