#side-panel {
  border-right: 1px solid rgb(228, 228, 228);
  background-color: #FFFFFF;
  width: 280px;
  height: 100%;
}

.side-panel-wrapper .side-panel-user-container {
  margin-top: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.side-panel-wrapper .side-panel-user-container > * {
  display: inline-block; 
}

.side-panel-wrapper .side-panel-user-profile-pic {
  height: 50px; 
  width: 50px; 
  margin-right: 20px;
}

.side-panel-wrapper .side-panel-user-label {
  color: #424242;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -20px;
}

.side-panel-wrapper .home-nav-container {
  border-top: 1px solid rgb(228, 228, 228);
  border-bottom: 1px solid rgb(228, 228, 228);
  background-color: #ECEFF1;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.side-panel-wrapper .home-nav-container > * {
  display: inline-block;
}

.side-panel-wrapper .back-icon {
  margin-left: 10px;  
  color: #777777;
}

.side-panel-wrapper .home-icon-container {
  margin-left: 6px;
  display: inline-block;
  background-color: #FFFFFF;
  padding: 3px;
}

.side-panel-wrapper .home-icon {
  color: rgb(38, 108, 177);
  height: 32px;
  width: 32px;
}

.side-panel-wrapper .home-label {
  margin-left: 15px;
  position: relative;
  top: 2px;
  color: #505050;
  font-weight: bold;
}

.side-panel-wrapper .dash-title-container {
  color: #424242;
  padding-top: 20px;
  padding-bottom: 20px;
}

.side-panel-wrapper .dash-icon {
  margin-left: 15px;
  color: rgb(38, 108, 177);
  height: 30px;
  width: 30px;
}

.side-panel-wrapper .title-label {
  margin-left: 16px;
  position: relative;
  top: 6.5px;
  font-size: 18px;
  font-weight: bold;
}

.side-panel-wrapper .version-label {
  margin-left: 20px;
  position: relative;
  top: 6px;
  font-size: 14px;
  color: #9e9e9e;
}

.side-panel-wrapper .nav-btns-container {
  color: rgb(98, 98, 98);
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}
