.dash-nav-panel-btn {
  background: #FFFFFF;  
  padding: 10px;
  padding-left: 18px;
}

.dash-nav-panel-btn .nav-btn-icon {
  margin-right: 20px;
  --iron-icon-height: 24px;
  --iron-icon-width: 24px;
}

.dash-nav-panel-btn .nav-btn-label {
  position: relative;
  top: 2px;
}

.dash-nav-panel-btn[selected-side-panel-tab] {
  background-color: #ECEFF1;
}

.dash-nav-panel-btn[selected-side-panel-tab] iron-icon {
  color: rgb(41, 98, 255);
  color: #3385FF;
}
