html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0px; /* remove space in inline-block elements */
  /* overflow-x: scroll; */
  min-width: 1000px;
}

body > div {
  display: inline-block;
  vertical-align: top;
}

hidden {
  display: none;
}
