.new-exp-container {}

.add-exp-input-card {
  border: 1px solid rgb(228, 228, 228);
  background-color: #FFFFFF;
  margin-bottom: 30px;
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  position: relative;
}

.add-exp-input-card .form-label-container {
  color: #424242;
  font-size: 24px;
}

.add-exp-input-card .input-container {
  color: #A0A0A0;
  font-size: 18px;
  position: relative;
  margin-top: 20px;
}

.add-exp-input-card paper-slider {
  position: absolute;
  left: 80px;
  top: -4px;
}

#scopes-count-input {
  display: inline-block;
}

paper-slider {
  width: 400px;
}

#duration-display {
  /* margin-left: 35px; */
}

.add-exp-validation-icon-container iron-icon {
  display: block;
}

.add-exp-validation-icon-container {
  position: absolute;
  right: 22px;
  top: calc(50% - 12px);
}

.invalid-input-icon {
  color: #FF5050;
}

.valid-input-icon {
  color: #6DC066;
}

#admin-btn-container iron-icon:hover {
  color: rgb(92, 92, 92); 
}

.validation-input-icon[hidden-validation-icon] {
  display: none;
}

#add-exp-input-card-3-container {
  height: 120px;
}

#exp-date-input-field-container {
  padding-left: 40px;
  position: relative;
}

#exp-time-input-container .input-container {
  display: inline-block; 
}


