.new-exp-container {}

.add-exp-input-card {
  border: 1px solid rgb(228, 228, 228);
  background-color: #FFFFFF;
  margin-bottom: 30px;
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 20px;
  position: relative;
}

.add-exp-input-card .form-label-container {
  color: #424242;
  font-size: 24px;
}

.add-exp-input-card .input-container {
  color: #A0A0A0;
  font-size: 18px;
  position: relative;
  margin-top: 20px;
}

.add-exp-input-card paper-slider {
  position: absolute;
  left: 80px;
  top: -4px;
  cursor: pointer;
}

#scopes-count-input {
  display: inline-block;
}

paper-slider {
  width: 400px;
}

.add-exp-validation-icon-container iron-icon {
  /* display: block; */
  /* display: none; */
}

.add-exp-validation-icon-container {
  position: absolute;
  right: 22px;
  top: calc(50% - 12px);
}

.invalid-input-icon {
  color: #FF5050;
}

.valid-input-icon {
  color: #6DC066;
}

#admin-btn-container iron-icon:hover {
  color: rgb(92, 92, 92); 
}

.validation-input-icon[hidden-validation-icon] {
  display: none;
}

.validation-input-icon {
  display: none;
}

#exp-time-input-field-container {
  width: 400px;
  height: 30px;
}

#exp-time-picker {
  float: left;
}

#exp-date-calendar {
  float: right;
}

#confirm-payment-container div {
  display: inline-block;
  padding: 10px;
  color: #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}

#confirm-payment-button {
  background-color: #4D90FE;
  /* background-color: #61DD61; */
  margin-right: 20px;
}

#cancel-payment-button {
  background-color: #FF3B45;
}

#confirm-payment-button:hover {
  background-image: -webkit-linear-gradient(top, #4D90FE, #2478FD);
}

#cancel-payment-button:hover {
  background-image: -webkit-linear-gradient(top, #FF3B45, #FF0E1A);
}

#confirm-payment-container {
  margin-top: 25px;
}

#confirm-payment-input-container .payment-multiplier-label, #confirm-payment-input-container .payment-assignment-label {
  margin-left: 5px;
  margin-right: 5px;
}
