#time-picker {
}

.time-picker-wrapper {
  cursor: pointer;
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.time-picker-wrapper .input-field-wrapper > div {
  display: inline-block; 
}

.time-picker-wrapper .input-field {
  font-size: 18px;
  text-align: center;
}

.time-picker-wrapper .input-field-wrapper:hover {
  box-shadow: 0px 0px 2px 2px rgba(38, 108, 177, 0.5);
}

.time-picker-wrapper .icon-wrapper {
  background-color: rgb(38, 108, 177);
  border-radius: 25%;
  padding: 3px;
  margin-left: 6px;
}

.time-picker-wrapper .icon-wrapper iron-icon {
  color: #FFFFFF;
  height: 26px;
  width: 26px;
}

/* .time-picker-wrapper .input-field[shadow-border] { */
/*   box-shadow: 0px 0px 2px 2px rgba(38, 108, 177, 0.5); */
/* } */

.time-picker-wrapper .time-dropdown-wrapper {
  position: relative;
}

.time-picker-wrapper .time-dropdown {
  border-bottom: 1px solid rgb(228, 228, 228);
  border-right: 1px solid rgb(228, 228, 228);
  border-left: 1px solid rgb(228, 228, 228);
  max-height: 250px;
  overflow-y: auto;
  margin-top: 2px;
  position: absolute;
  background-color: #FFFFFF;
  width: 116px;
}

.time-picker-wrapper[hidden-dropdown] .time-dropdown {
  display: none;
}

.time-picker-wrapper:not([hidden-dropdown]) {
  box-shadow: 0px 0px 2px 2px rgba(38, 108, 177, 0.5);
}

.time-picker-wrapper .time-picker-option {
  height: 30px;
  color: black;
  font-height: 14px;
  text-align: center;
  height: 30px;
  padding-top: 10px;
}

.time-picker-wrapper .time-picker-option:hover {
  background-color: #EEEEEE;
}
