* {
  margin: 0px;
  padding: 0px;
}

.my-experiments-page-wrapper[hidden-my-experiments-page] {
  display: none;
}

.my-experiment-wrapper {
  border: 1px solid rgb(228, 228, 228);
  background-color: #FFFFFF;
  margin-bottom: 30px;
  font-family: Roboto, Noto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #A0A0A0;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.my-experiment-wrapper .order-data-wrapper {
  display: none;
}

/* .my-experiment-wrapper .main-stage-wrapper > div:not([selected-page]) { */
/*   display: none; */
/* } */

.my-experiment-wrapper .main-stage-wrapper {
  height: 320px;
}

.my-experiment-wrapper .main-stage-wrapper .description-page {
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid rgb(228, 228, 228);
  margin-top: 1px;
  margin-bottom: 1px;

  height: 270px;
  overflow-y: auto;
  cursor: pointer;
  padding: 10px;
  font: 16px;
  outline: 0px solid transparent;
}

.my-experiment-wrapper .main-stage-wrapper .description-page:hover {
  border-color: rgb(38, 108, 177); 
}

.my-experiment-wrapper .main-stage-wrapper .description-page[editing-description] {
  border-color: rgb(38, 108, 177); 
  border-width: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 19px;
  margin-right: 19px;
  padding-top: 9px;
  cursor: text;
}

/* Time styles */
.my-experiment-wrapper .main-stage-wrapper .scopes-icon {
  height: 38px;
  width: 38px;
  background-color: blue;
}
.my-experiment-wrapper .main-stage-wrapper .time-page {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.my-experiment-wrapper .main-stage-wrapper .time-page > div {
  display: inline-block;
}


.my-experiment-wrapper .main-stage-wrapper .time-secondary-container {
  padding-left: 40px;
}

.my-experiment-wrapper .main-stage-wrapper .time-secondary-container > div {
  margin-bottom: 50px;
}

.my-experiment-wrapper .main-stage-wrapper .time-payments-container {
  padding-left: 40px;
}

.my-experiment-wrapper .main-stage-wrapper .time-payments-container > div {
  margin-bottom: 50px;
  position: relative;
  top: -74px;
}

.my-experiment-wrapper .main-stage-wrapper .time-page .field-title {
  color: #424242;
}

.my-experiment-wrapper .main-stage-wrapper .monitor-page {
  text-align: center;
}

.my-experiment-wrapper .main-stage-wrapper .recording-page {
  text-align: center;
}
