#center-panel {
  background-color: #FAFAFA;
  width: calc(100% - 281px);
  height: 100%;
  overflow-y: scroll;
}

.center-page-wrapper {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.center-page-wrapper .title-and-admin-btn-row {
  height: 52px;
  margin-bottom: 10px;
}

.center-page-wrapper .title-and-admin-btn-row > * {
  display: inline-block;
  vertical-align: top;
}

.center-page-wrapper .title-container {
  position: relative;
}

.center-page-wrapper .title-label {
  position: relative;
  top: 12px;
  font-weight: bold;
  font-size: 20px;
  color: #424242;
}

.center-page-wrapper .admin-btn-container {
  float: right;
}

.center-page-wrapper .admin-btn-container > div {
  margin-bottom: 3px;
}
