<template id='center-page-template'>
  <div class='center-page-wrapper'>

    <!-- Upper-most row of center page. Container page title and admin btns -->
    <div class='title-and-admin-btn-row'>
      
      <!-- Title for the center page -->
      <div class='title-container'>
        <span class='title-label'></span> 
      </div> 

      <!-- Admin icon buttons -->
      <div class='admin-btn-container'>
        <div class='user-profile-admin-btn-container'>
          <iron-icon class='user-circle-icon' icon='account-circle'></iron-icon>
        </div>
        <div class='settings-admin-btn-container'>
          <iron-icon class='settings-icon' icon='settings'></iron-icon>
        </div>
      </div>
    </div>

    <!-- Center panel container: contains all main pages -->
    <div class='page-container'></div>

  </div>
</template>
