<!-- Template for dropdown form -->
<template id='dropdown-picker-template'>
  <div class='dropdown-picker-wrapper'>

    <!-- Input field container -->
    <div class='input-field-wrapper'><!--

      --><!-- Display for selected input --><!--
      --><div class='input-field-label'></div><!--

      --><!-- Icon for drop-down type --><!--
      --><div class='icon-wrapper'>
        <iron-icon class='dropdown-icon'></iron-icon>
      </div>
    </div>

    <!-- Dropdown list wrapper -->
    <div class='dropdown-wrapper'>
      <div class='dropdown-list' hidden></div>
    </div>
  </div>
</template>

<!-- Template for selectable dropdown item -->
<template id='dropdown-item-template'>
  <div class='dropdown-item-wrapper'>
    <span class='item-label'></span>
  </div>
</template>
